[Unit]
Description=wg-easy container
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/docker run --name=wg-easy -e LANG=en -e WG_HOST=wireguard.local -e PORT=51821 -e WG_PORT=51820 -v %h/.wg-easy:/etc/wireguard -p 51820:51820/udp -p 51821:51821/tcp --cap-add=NET_ADMIN --cap-add=SYS_MODULE --cap-add=NET_RAW --sysctl="net.ipv4.conf.all.src_valid_mark=1" --sysctl="net.ipv4.ip_forward=1" --restart unless-stopped ghcr.io/wg-easy/wg-easy
ExecStop=/usr/bin/docker stop wg-easy
ExecStopPost=/usr/bin/docker rm wg-easy
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

